{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block title %}
    {{ 'title.record_view'|trans({'%id%': record.id|default()}) }}
{% endblock %}

{% block body %}
    <h1>View record</h1>
    {% if record is defined and record|length %}
        <dl>
            <dt>Title</dt>
            <dd>{{ record.title }}</dd>
            <dt>Content</dt>
            <dd>{{ record.content }}</dd>
            <dt>Tags</dt>
            <dd>{{ record.tags|join(', ') }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
    <p>
        <a href="{{ url('record_index') }}">{{ 'label.back'|trans }}</a>
    </p>
{% endblock %}